In [36]:
#Importing necessary libraries

In [91]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [63]:
df = pd.read_excel('Tata memorial raw data.xlsx')

In [64]:
df.head()

   Fish Test Report   Herceptin  Doxorubicin  Ixabepilone
0               1.23  28.606005     2.302585     0.586395
1               2.58  31.784450     2.995732     1.733437
2               3.84  38.141340     3.401197     3.233684
3               4.56  50.855120     3.688879     3.654411
4               5.69  69.925790     3.912023     4.920380

In [65]:
#Seperating the data as per the use case

In [66]:
df_herceptin = df[['Fish Test Report ','Herceptin']]
df_doxorubicin = df[['Fish Test Report ','Doxorubicin']]
df_ixabepilone = df[['Fish Test Report ','Ixabepilone']]

In [67]:
#Working on Herceptin

In [68]:
df_herceptin

   Fish Test Report    Herceptin
0               1.23   28.606005
1               2.58   31.784450
2               3.84   38.141340
3               4.56   50.855120
4               5.69   69.925790
5               6.58   95.353350
6               7.47  127.137800
7               8.51  190.706700
8               9.66  317.844500
9              10.25  635.689000

In [69]:
# Splitting x and y

In [70]:
x = df[['Fish Test Report ']]
y = df[['Herceptin']]

In [71]:
# Polynomial Transformation

In [72]:
poly = PolynomialFeatures(degree = 3)

In [73]:
x = poly.fit_transform(x)

In [74]:
x

array([[1.00000000e+00, 1.23000000e+00, 1.51290000e+00, 1.86086700e+00],
       [1.00000000e+00, 2.58000000e+00, 6.65640000e+00, 1.71735120e+01],
       [1.00000000e+00, 3.84000000e+00, 1.47456000e+01, 5.66231040e+01],
       [1.00000000e+00, 4.56000000e+00, 2.07936000e+01, 9.48188160e+01],
       [1.00000000e+00, 5.69000000e+00, 3.23761000e+01, 1.84220009e+02],
       [1.00000000e+00, 6.58000000e+00, 4.32964000e+01, 2.84890312e+02],
       [1.00000000e+00, 7.47000000e+00, 5.58009000e+01, 4.16832723e+02],
       [1.00000000e+00, 8.51000000e+00, 7.24201000e+01, 6.16295051e+02],
       [1.00000000e+00, 9.66000000e+00, 9.33156000e+01, 9.01428696e+02],
       [1.00000000e+00, 1.02500000e+01, 1.05062500e+02, 1.07689062e+03]])

In [75]:
lr = LinearRegression()

In [76]:
lr.fit(x,y)

LinearRegression()

In [77]:
y_pred = lr.predict(x)

In [78]:
lr.score(x,y)

0.9421459534814112

In [79]:
r2_score = r2_score(y,y_pred)

In [80]:
r2_score

0.9421459534814112

In [81]:
df_doxorubicin

   Fish Test Report   Doxorubicin
0               1.23     2.302585
1               2.58     2.995732
2               3.84     3.401197
3               4.56     3.688879
4               5.69     3.912023
5               6.58     4.094345
6               7.47     4.248495
7               8.51     4.382027
8               9.66     4.499810
9              10.25     4.605170

In [82]:
x = df[['Fish Test Report ']]
y = df[['Doxorubicin']]

In [83]:
poly.fit_transform(x)

array([[1.00000000e+00, 1.23000000e+00, 1.51290000e+00, 1.86086700e+00],
       [1.00000000e+00, 2.58000000e+00, 6.65640000e+00, 1.71735120e+01],
       [1.00000000e+00, 3.84000000e+00, 1.47456000e+01, 5.66231040e+01],
       [1.00000000e+00, 4.56000000e+00, 2.07936000e+01, 9.48188160e+01],
       [1.00000000e+00, 5.69000000e+00, 3.23761000e+01, 1.84220009e+02],
       [1.00000000e+00, 6.58000000e+00, 4.32964000e+01, 2.84890312e+02],
       [1.00000000e+00, 7.47000000e+00, 5.58009000e+01, 4.16832723e+02],
       [1.00000000e+00, 8.51000000e+00, 7.24201000e+01, 6.16295051e+02],
       [1.00000000e+00, 9.66000000e+00, 9.33156000e+01, 9.01428696e+02],
       [1.00000000e+00, 1.02500000e+01, 1.05062500e+02, 1.07689062e+03]])

In [84]:
lr.fit(x,y)

LinearRegression()

In [85]:
y_pred = lr.predict(x)

In [92]:
r2_scoree = r2_score(y,y_pred)
r2_scoree

0.9300996828286513