In [29]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [4]:
df = pd.read_excel('mtcars.xlsx')

In [6]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [14]:
x = df.drop(['model','mpg'], axis=1)
y = df['mpg']

In [15]:
rfe = RFE(estimator= LinearRegression() )

In [16]:
rfe.fit(x,y)

RFE(estimator=LinearRegression())

In [19]:
rfe.support_

array([False, False, False,  True,  True,  True, False,  True, False,
        True])

In [20]:
x.columns

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb'], dtype='object')

In [23]:
x_rfe = df[['drat','wt','qsec','am','carb']]

In [24]:
x_rfe.head()

   drat     wt   qsec  am  carb
0  3.90  2.620  16.46   1     4
1  3.90  2.875  17.02   1     4
2  3.85  2.320  18.61   1     1
3  3.08  3.215  19.44   0     1
4  3.15  3.440  17.02   0     2

In [26]:
lr = LinearRegression()

In [27]:
lr.fit(x_rfe,y)

LinearRegression()

In [30]:
y_pred = lr.predict(x_rfe)

In [31]:
r2_score(y,y_pred)

0.860794511117408

In [32]:
lr.fit(x,y)

LinearRegression()

In [33]:
y2_pred = lr.predict(x)

In [34]:
r2_score(y,y2_pred)

0.8690157644777647