In [35]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix

In [4]:
df = pd.read_excel('KTM Raw data.xlsx')

In [5]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [6]:
df.isnull().sum()

ID              0
Age             0
Gender          0
Occupation      0
Phone Type      0
Current Bike    0
Relationship    0
Response        0
dtype: int64

In [12]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [13]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,1,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,0,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,0,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,0,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,1,Student,Average,180 to 220,Complicated,Purchased

In [16]:
df['Occupation'] = le.fit_transform(df['Occupation'])
df['Phone Type'] = le.fit_transform(df['Phone Type'])
df['Current Bike'] = le.fit_transform(df['Current Bike'])
df['Relationship'] = le.fit_transform(df['Relationship'])
df['Response'] = le.fit_transform(df['Response'])

In [17]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,1,0,0,1,1,0
1,2,27,0,1,2,4,3,1
2,3,39,0,3,0,1,2,0
3,4,20,0,3,1,4,2,0
4,5,29,1,2,0,1,1,1

In [21]:
x = df.drop(['ID', 'Response'], axis = 1)

In [22]:
y = df['Response']

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state = 1)

In [25]:
x_train.shape

(1062, 6)

In [27]:
x_test.shape

(456, 6)

In [28]:
y_train.shape

(1062,)

In [29]:
y_test.shape

(456,)

In [31]:
model = LogisticRegression()

In [33]:
model.fit(x_train, y_train)

LogisticRegression()

In [34]:
model.score(x_test,y_test)

0.7543859649122807

In [36]:
y_pred = model.predict(x_test)

In [37]:
accuracy_score(y_test, y_pred)

0.7543859649122807

In [38]:
f1_score(y_test, y_pred)

0.7846153846153847

In [39]:
recall_score(y_test, y_pred)

0.7937743190661478

In [40]:
confusion_matrix(y_test, y_pred)

array([[140,  59],
       [ 53, 204]], dtype=int64)